.tableRow {
    margin: 20px;
}

.actions, .pricing {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: #2B416C;	
    font-size: 16px;
}

.date {
    display: inline-block;
    line-height: 24px;	
}

div.date span {
    display: block;
}

div.date span:nth-of-type(1) {
    color: #2B416C;	
    font-size: 16px;	
}

div.date span:nth-of-type(2) {
    color: #7788A3;
    font-size: 14px;
    font-style: italic;
}

div.name > span:nth-of-type(1) {
    color: #2B416C;	
    font-size: 16px;	
}
div.name > span:nth-of-type(2) {
    color: #7788A3;	
    font-size: 14px;	
    font-style: italic;	
}
div.name > span, div.actions > div {
    display: block;
}

.calWrap {
    margin-bottom: -25px;
}

.react-datepicker__input-container {
    opacity: 0;
}

.name figure {
    margin: 0;
    float: left;
    padding-right: 7%;
}
.name > figure > img {
    width:50px;
}
.name > div{
    padding-bottom: 15px;
}
img.act {
    height: 24px;
    margin: 0px 12px;

}
img.gameicon {
    height: 50px;
}
/* 
.actions.blok > div{
    margin-right: 10%;
}

 */


@media screen and (max-width: 700px){
    .actions{
        width: 20%
    }
    .actions > div{
        margin-right: 100%;
        margin-left: 10%
    }
    .name > div{
        width: 20%;
    }
    img.gameicon {
        height: 50px;
    }

    img.act {
        height: 40px;
        margin: 0px 6px;
    
    }

    .name figure{
        width: auto;
        padding-right: 0px;
    }

    .date,.name {
        width: min-content;
    }

    .pricing, .datename {
        width: auto;
    }
    .tableRow{
        margin-left: 0px;
        margin-right: 0px;
    }

    
    
}

